.boardContainer {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.boardRow {
  width: inherit;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.boardRow:nth-child(1)::before {
  content: 'Top Team';
  color: red;
  position: absolute;
  top: 150px;
  right: 750px;
  font-size: 40px;
  font-weight: 700;
}

.boardRow:nth-child(2) {
  margin-bottom: 100px;
}

.boardRow:nth-child(3)::before {
  content: 'Bottom Team';
  color: blue;
  position: absolute;
  bottom: 200px;
  right: 720px;
  font-weight: 700;
  font-size: 40px;
}
