.unitImageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.statusContainer {
  position: absolute;
}

.unitStatus {
  position: relative;
  filter: invert(90%) sepia(60%) saturate(5000%) hue-rotate(30deg);
  bottom: 195px;
  left: 40px;
  width: 140px;
  height: 140px;
}

.paralyzeStatus {
  position: relative;
  bottom: 195px;
  left: 40px;
  width: 140px;
  height: 140px;
}
