body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}
._imgContainer_9unq1_1 {
  position: relative;
}
._unitImage_9unq1_9 {
  width: 220px;
  height: 235px;
  box-sizing: border-box;
}
._orderImage_9unq1_21 {
  border-radius: 5px;
  width: 100px;
  height: 130px;
}
._topTeam_9unq1_33 {
  border: 5px solid red;
}
._bottomTeam_9unq1_41 {
  border: 5px solid blue;
}
._gameRoundValue_9unq1_49 {
  position: absolute;
  top: 2px;
  left: 8px;
  color: #ff00b3;
  font-weight: 700;
}
._unitImageContainer_4af8q_1 {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
._statusContainer_4af8q_15 {
  position: absolute;
}
._unitStatus_4af8q_23 {
  position: relative;
  filter: invert(90%) sepia(60%) saturate(5000%) hue-rotate(30deg);
  bottom: 195px;
  left: 40px;
  width: 140px;
  height: 140px;
}
._paralyzeStatus_4af8q_41 {
  position: relative;
  bottom: 195px;
  left: 40px;
  width: 140px;
  height: 140px;
}
._unitHealthContainer_1ak17_1 {
  position: relative;
  bottom: 5px;
  width: 50px;
  height: 50px;
}
._unitHealthContainer_1ak17_1 img {
  width: inherit;
  height: inherit;
}
._healthValue_1ak17_25 {
  color: #fff;
  font-weight: 700;
  position: absolute;
  top: 3px;
  left: 5px;
}
._healthPointContainer_1ak17_41 {
  top: -170px;
  right: -15px;
  width: 220px;
  position: absolute;
  background-color: #eb121275;
}
._damageIcon_3x87z_7 {
  position: relative;
  bottom: 0px;
  left: 5px;
  filter: invert(70%) sepia(60%) saturate(750%) hue-rotate(0deg);
}
._damageValue_3x87z_21 {
  color: #fff;
  position: absolute;
  font-weight: 700;
  bottom: 18px;
  left: -15px;
  z-index: 2;
}
._healIcon_3x87z_39 {
  position: relative;
  bottom: 5px;
}
._healValue_3x87z_49 {
  color: #fff;
  position: absolute;
  font-weight: 700;
  bottom: 14px;
  left: 5px;
  z-index: 2;
}
._paralizeIcon_3x87z_67 {
  position: relative;
  bottom: 0px;
  left: 5px;
  filter: invert(90%) sepia(60%) saturate(750%) hue-rotate(0deg);
}
._userInfoContainer_hcsqz_1 {
  width: 188px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 15px;
  bottom: 65px;
}
._userInfoContainer_hcsqz_1 span {
  font-size: 1em;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
._unitName_hcsqz_39 {
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  position: relative;
  bottom: 3px;
  left: 5px;
}
._unitItem_tboye_1 {
  width: 220px;
  height: 230px;
  border: 1px solid #000;
  box-sizing: border-box;
  overflow: hidden;
}
._current_tboye_17 {
  width: 220px;
  height: 230px;
  border: 1px solid #000;
  box-sizing: border-box;
  overflow: hidden;
  border: 5px solid green;
}
._target_tboye_35 {
  width: 220px;
  height: 230px;
  border: 1px solid #000;
  box-sizing: border-box;
  overflow: hidden;
  border: 5px solid blue;
}
._boardContainer_1w2cr_1 {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  position: relative;
}
._boardRow_1w2cr_15 {
  width: inherit;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}
._boardRow_1w2cr_15:nth-child(1):before {
  content: 'Top Team';
  color: red;
  position: absolute;
  top: 150px;
  right: 750px;
  font-size: 40px;
  font-weight: 700;
}
._boardRow_1w2cr_15:nth-child(2) {
  margin-bottom: 100px;
}
._boardRow_1w2cr_15:nth-child(3):before {
  content: 'Bottom Team';
  color: #00f;
  position: absolute;
  bottom: 200px;
  right: 720px;
  font-weight: 700;
  font-size: 40px;
}
._gameOverContainer_1j0t4_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3em;
  margin: auto;
  color: #fff;
}
._gameOverContainer_1j0t4_1 button {
  border-radius: 15px;
  font-size: 20px;
  font-weight: 700;
  width: 200px;
  height: 70px;
  outline: none;
  cursor: pointer;
  border: 1px solid #000;
  margin-top: 30px;
}
._gameOverContainer_1j0t4_1 button:hover {
  background-color: wheat;
}
._bottomTeam_1j0t4_53 {
  color: #00f;
}
._topTeam_1j0t4_61 {
  color: red;
}
._orderContainer_ntizx_1 {
  background-color: #008b8b;
  border: 10px solid white;
  padding: 40px 40px 70px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 50px;
}
._orderItem_ntizx_23 {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}
._orderItem_ntizx_23:first-of-type {
  width: 100px;
  height: 120px;
  z-index: 2;
}
._topTeam_ntizx_47 {
  border: 5px solid blueviolet;
}
._bottomTeam_ntizx_55 {
  border: 5px solid rgb(218, 196, 0);
}
._turnControllerContainer_ty334_1 {
  margin-top: auto;
  margin-bottom: 20px;
  display: flex;
}
._attackButton_ty334_13 {
  position: absolute;
  top: 625px;
  right: 250px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 10px;
  border: 1px solid #000;
  outline: none;
  margin: 10px;
  background-color: #eb5237;
}
._damageIcon_ty334_47 {
  width: 40px;
  height: 40px;
  margin-left: 5px;
}
._defenseButton_ty334_59 {
  position: absolute;
  top: 625px;
  right: 90px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 10px;
  border: 1px solid #000;
  outline: none;
  margin: 10px;
  background-color: #2fc46d;
}
._turnControllerContainer_ty334_1 button:hover {
  cursor: pointer;
  background-color: gray;
}
._sideBarContainer_j1qk0_1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100vh;
  overflow-y: hidden;
}
._appContainer_pa11e_1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/64fbd1ee-9380-4416-9b5e-f32dedaacb82/derx2lh-9893806f-866b-4b74-a1fe-343aa31425ff.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzY0ZmJkMWVlLTkzODAtNDQxNi05YjVlLWYzMmRlZGFhY2I4MlwvZGVyeDJsaC05ODkzODA2Zi04NjZiLTRiNzQtYTFmZS0zNDNhYTMxNDI1ZmYucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.rc8WIlYuY2W7ECxLJ7dQjl_0_UgPo1uC7o3bPrWAudE);
  background-size: cover;
  height: 1600px;
}
